@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Nginx world!</h1>
    <p class="text-danger">The Nginx configuration is easy to implement :)</p>
</div>
